<html>
<script src="/javascripts/reconnectingWebsocket.js"> </script>
<script src="/javascripts/lightstrip.js"> </script>

<% if (global.settings.options.webserver.defaultcssfile) {%>
<LINK href="<%=global.settings.options.webserver.defaultcssfile%>" rel="stylesheet" type="text/css">
<%}%>

<head>


</head>
<body onload="load()">

<h2>LED Strip</h2>
LED String Emulator<hr>
<div id = 'strips' >
</div>
<div id="'commands">
    Commands:
    Device:
    <select id="selectedthingcommand" onChange="populatecommandlist(this)">
        <%for (index = 0; index < things.length; ++index) {%>
        <option value="<%=index%>">

            <%=((things[index].name!=things[index].label) && things[index].label)?things[index].label+' ('+things[index].name+')':things[index].name%>
        </option>
        <%};%>

    </select>
    <hr>
    <div id="thingcommand">

        <select id='commandlist' onChange="commandclicked()" size=1  style="width:150"> </select>
        <textarea id="viewcommand" rows="7" cols="30" ></textarea>

        value <input id="commandvalue" list="commandvalueoptions" ></input>
        <div id = "JSONinput">
        </div>
        <datalist id="commandvalueoptions">

        </datalist>
        <button onclick="buttonruncommand()">Run Command</button>


    </div>
    <hr>
</div>


</body>
</html>
<script>



    function load() {
        settings=<%-JSON.stringify(settings)%>
        things=<%-JSON.stringify(things)%>
        wsUri = "ws://" + window.location.hostname + ":<%=wsport%>";
        drawstrips();
        populatecommandlist(document.getElementById('selectedthingcommand'))
        websockstart();
    }


</script>
